html{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    min-height: 100%;
    min-width: 100%;
}

.imagenMostrada{
    position: absolute;
    width: 100%;
    min-height: 80%;
}

.selector{
    position: absolute;
    width: 100%;
    min-height: 20%;
    bottom: 0px;
}