html{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    min-height: 100%;
    min-width: 100%;
    background-color: gainsboro;
}

.divImagenMostrada{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 80%;
    
}

.selector{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0px;
}

.thumbnailSelector{
    display: inline-block;
    margin: 0 auto;
    padding: 0px;
    height: 90%;
    
}

.thumbnail{
    
    height: 90%;
    width: auto;
    
}

#imagen{
    
    display: inline-block;
    height: 90%;
    width: auto;
    
}